.container {
  display: flex;
  flex-direction: row;
  flex-wrap: unset;
  align-items: flex-start;
  gap: 64px;
}

.loadMore {
  display: block;
  margin: 40px auto;
}

.itemsGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: auto;
}